<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
    <%- include('../partials/navigation-css.ejs')  %>
    <style>
        fieldset{
            display: grid;
        }
    </style>
    <title>Travel Log | Edit</title>
</head>

<body>
    <%- include('../partials/nav.ejs')  %>
    <main>
        <h2>Edit This Blog</h2>
    </main>
    <form action="/blogs/<%= blog._id %>?_method=PUT " method="POST">
        <fieldset class="blog-info">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%=blog.title%>"/>
            <label for="blog_img">Image Link</label>
            <input type="text" name="blog_img" id="blog_img" value="<%=blog.blog_img%>"/>
            <label for="blog_desc">Blog Description</label>
            <textarea id="blog_desc" name="blog_desc" cols="30" rows="10"
                placeholder="Share your experience"><%=blog.blog_desc%>"</textarea>
            <input type="submit" value="SUBMIT CHANGES">
            <a href="/blogs"> <input type="button" value="CANCEL"> </a>
        </fieldset>
    </form>
</body>

</html>