<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
    <%- include('../partials/navigation-css.ejs')  %>
    <style>

        img {
            width: 400px;
            float: right;
        }

        p {
            text-align: justify;
        }
    </style>
    <title>Travel Blog | <%=blog.title%> </title>
</head>

<body>
    <%- include('../partials/nav.ejs')  %>
    <main>
        <h2><%= blog.title %> </h2>
        <div>
            <a href="<%= blog.blog_img %> "><img src="<%= blog.blog_img %> "></a>
            <div>
                <p><%= blog.blog_desc %></p>
            </div>
        </div>
        <div class="edit">
            <a href="/blogs/<%=blog._id%>/edit ">EDIT</a>
        </div>
    </main>
</body>

</html>