<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%=blogger.first_name%> </title>
    <style>
        .profile-info {
            display: grid;
        }

        span {
            display: flex;
        }
    </style>

</head>

<body>
    <header>
        <a href="/blogger">Home</a>
        <a href="/blogger/new">Add New Blogger</a>
        <a href="/blogs">Recent Blogs</a>
        <a href="/blogs/new">New Blog</a>
    </header>
    <main>
        <h2>Edit <%= blogger.first_name %> </h2>
    </main>
    <form action="/blogger/<%=blogger._id %>?_method=PUT " method="POST">
        <fieldset class="profile-info">
            <label for="name"> NAME</label>
            <span class="firstLastName">
                <input type="text" name="first_name" id="name" value="<%=blogger.first_name%>" />
                <input type="text" name="last_name" id="name" value="<%=blogger.last_name%>" />
            </span>
            <label for="age"> AGE</label>
            <input type="number" name="age" id="age" value="<%=blogger.age%>" />
            <label for="hobbies"> HOBBIES</label>
            <input type="text" name="hobbies" id="hobbies" value="<%=blogger.hobbies%>" />
            <label for="aboutMe">ABOUT ME</label>
            <textarea id="aboutMe" name="aboutMe" cols="30" rows="10"><%= blogger.aboutMe %></textarea>
            <input type="submit" value="SUBMIT CHANGES">
        </fieldset>
    </form>
</body>

</html>