<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %>
    <%- include('../partials/css-global.ejs')  %>
    <style>
        li{
            display: flex;
        }
    </style>
    <title>Travel Log | Bloggers</title>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <main class="container">
        <h1>BLOGGERS</h1>
        <ul>
            <% bloggers.forEach(blogger => { %> 
            <li>
                <a class="li-heading" href="/blogger/<%=blogger._id%>"><%= blogger.first_name %> <%= blogger.last_name %> </a>
                <form action="/blogger/<%=blogger._id%>?_method=DELETE" method="POST">
                <button type="submit"><i class="fas fa-trash-alt"></i></button>
                </form>
            </li>
            <% }); %> 
        </ul>
    </main>
</body>
</html>