<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
    <%- include('../partials/css-global.ejs')  %>
    <title>Travel Blog | <%=blogger.name%> </title>
</head>

<body>
    <%- include('../partials/nav.ejs')  %>
    <main>
        <div>
            <h1> Hey <%=blogger.first_name %>! </h1>
        </div>
        <div>

            Full Name: <%=blogger.first_name%> <%= blogger.last_name %> <br />
            Age: <%= blogger.age %> <br />
            Hobbies: <%= blogger.hobbies %> <br />
            About Me: <p><%= blogger.aboutMe %></p>

        </div>
        <footer>
            <a href="#">Blogs By <%=blogger.first_name%></a>
            <span><a href="/blogger/<%=blogger._id%>/edit"><i class="fas fa-user-edit"></i></a></span>
        </footer>
    </main>
</body>

</html>