<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
    <%- include('../partials/navigation-css.ejs')  %>
    <title>Travel Blog | <%=blogger.name%> </title>
</head>

<body>
    <%- include('../partials/nav.ejs')  %>
    <main>
        <div>
            <h1> Hey <%=blogger.first_name %>! </h1>
        </div>
        <div>

            Full Name: <%=blogger.first_name%> <%= blogger.last_name %> <br />
            Age: <%= blogger.age %> <br />
            Hobbies: <%= blogger.hobbies %> <br />
            About Me: <%= blogger.aboutMe %> <br />

        </div>
        <footer>
            <a href="#">Blogs By <%=blogger.first_name%></a>
            <a href="/blogger/<%=blogger._id%>/edit">EDIT</a>
        </footer>
    </main>
</body>

</html>