<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Blog | <%=blogger.name%> </title>
</head>
<body>
    <header>
        <a href="/blogger">Home</a>
        <a href="/blogger/new">Add New Blogger</a>
        <a href="/blogs">Recent Blogs</a>
        <a href="/blogs/new">New Blog</a>
    </header>
    <main>
        <div>
        <h1> Hey <%=blogger.first_name %>! </h1>
        </div>
        <div>
            
            Full Name: <%=blogger.first_name%> <%= blogger.last_name %>  <br/>
            Age: <%= blogger.age %> <br/>
            Hobbies: <%= blogger.hobbies %> <br/>
            About Me: <%= blogger.aboutMe %> <br/>
            
        </div>
        <footer>
            <a href="#">Blogs By <%=blogger.first_name%></a>
            <a href="/blogger/<%=blogger._id%>/edit">EDIT</a>
        </footer>
    </main>
</body>
</html>